<form class="form-inline " role="form">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control input-sm" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control input-sm" id="pwd" placeholder="Enter password">
    </div>
    <a class="btn btn-info" ui-sref="home.student"> <span class="glyphicon glyphicon-user"></span> Student</a>
    <a class="btn btn-info" ui-sref="home.coach"> <span class="glyphicon glyphicon-home"></span> Coach</a>
<!--    <button type="student" class="btn btn-default"  ng-click="vm.signin()">Submit</button>
    <button type="coach" class="btn btn-default"  ng-click="vm.signin()">Submit</button>
    -->
</form>